/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 *
 *  SHARED COMPONENTS
 *
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/*
 *
 *  Share article
 *
 */

.share-article {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-stretch: semi-condensed;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.share-article > * {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 12px;
  flex-grow: 0;
  flex-shrink: 0;
}

.share-article__facebook {
  background: #3D68AF;
}

.share-article__twitter {
  background: #02AFEE;
}

.share-article
  > .share-article__print,
.share-article
  > .share-article__mail {
    justify-content: center;
    border: 1px solid #DEDEDE;
    background: #FFFFFF;
    padding: calc(14px - 1px);
}

.share-article
  > * > svg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.share-article
  > .share-article__facebook
    > svg {
      fill: #ffffff;
}

.share-article
  > .share-article__twitter
    > svg {
      fill: #ffffff;
}

.share-article
  > .share-article__print
    > svg {
      width: 27px;
      height: 22px;
      margin-right: 0;
      fill: #656565;
}

.share-article
  > .share-article__mail
    > svg {
      width: 20px;
      height: 13px; 
      margin-right: 0;
      fill: #656565;
}

.share-article
  > *
    > * {
    flex-grow: 0;
    flex-shrink: 0;
}

/* Small variant */
.share-article.share-article_small {
  max-width: 128px;
}

.share-article.share-article_small
  .share-article__facebook,
.share-article.share-article_small
  .share-article__twitter {
    background: transparent;
}

.share-article.share-article_small
  > * > svg {
    margin-right: unset;
}

.share-article.share-article_small
  .share-article__facebook
    svg {
      fill: #3D68AF;
}
.share-article.share-article_small
  .share-article__twitter
    svg {
      fill: #02AFEE;
}

.share-article.share-article_small
  .share-article__facebook
    span,
.share-article.share-article_small
  .share-article__twitter
    span {
    display: none;
}

.share-article.share-article_small
  .share-article__print,
.share-article.share-article_small
  .share-article__mail {
    display: none;
}

/*
 *
 *  Sixplus logo
 *
 */

.sixplus-logo
  svg {
    max-width: 100%;
    height: auto;
}
