body { box-sizing: border-box; }
#app,
#app * { box-sizing: border-box; }
button { cursor: pointer; }

/*
 *
 * App wrapper
 *
 */

.wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 48px;
  width: 100%;
  max-width: 1144px;
}

.wrapper
  > * {
    padding: 0 24px;
}

@media screen and (max-width: 1130px) {
  .wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px;
    padding-top: 32px;
  }

  .wrapper
    > * {
      padding: 0;
  }
}

/* Controls panel */

.wrapper__controls-panel {
  width: 100%;
  max-width: 288px;
  flex-shrink: 0;
  flex-grow: 0;
}

.wrapper__controls-panel
  .app-logo {
    width: 100%;
    margin-bottom: 24px;
}

.wrapper__controls-panel
  .category-selector {
    width: 100%;
    margin-bottom: 24px;
}

.wrapper__controls-panel
  .big-paragraph {
    max-width: 680px;
    margin-bottom: 80px;
    text-align: center;
}

.wrapper__controls-panel
  .big-paragraph {
    display: none;
}

@media screen and (max-width: 1130px) {
  .wrapper__controls-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 32px;
  }

  .wrapper__controls-panel
    .app-logo {
      width: 160px;
      height: 160px;
      margin-right: 24px;
  }

  .wrapper__controls-panel
    .category-selector {
      width: unset;
  }

  .wrapper__controls-panel
    .randomize-button {
      flex-shrink: 0;
      flex-grow: 0;
  }
}

/* Display panel */

.wrapper__display-panel {
  width: 100%;
  display: flex;
  max-width: calc(100% - 288px);
  height: 540px;
  flex-shrink: 1;
  flex-grow: 0;
}

.wrapper__display-panel
  .compared-item {
    width: calc((100% - 85px) / 2 - 24px);
    flex-grow: 0;
    flex-shrink: 0;
}

.wrapper__display-panel
  .comparison-gauge {
    width: 85px;
    margin: 0 24px;
}

@media screen and (max-width: 1130px) {
  .wrapper__display-panel {
    max-width: 720px;
    height: unset;
    margin: 0;
  }
}

@media screen and (max-width: 680px) {
  .wrapper__display-panel {
    flex-direction: column;
    max-width: 100%;
    margin: 0;
  }

  .wrapper__display-panel
    .compared-item,
  .wrapper__display-panel
    .comparison-gauge {
      width: 100%;
  }

  .wrapper__display-panel
    .comparison-gauge {
      margin: 24px 0;
      height: 32px;
  }
}

/* Additional info panel */
.wrapper__additional-info-panel {
  padding: 64px 0 0 0;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Georgia', Times, serif;
  font-size: 19px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: none;
  color: #212121;
}

.wrapper.wrapper_welcome
  .wrapper__additional-info-panel {
    display: none;
}

/* Share panel */

.wrapper__share-panel {
  width: 100%;
  padding-top: 64px;
}

.wrapper__share-panel
  .share-article {
    margin: 0 auto;
}

/* Logo panel */

.wrapper__logo-panel {
  width: 100%;
  padding-top: 64px;
}

.wrapper__logo-panel
  .sixplus-logo {
    max-width: 104px;
    margin: 0 auto;
}

/* States */
.wrapper.wrapper_welcome
  .wrapper__display-panel {
    display: none;
}

.wrapper.wrapper_welcome
  .wrapper__controls-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: unset;
}

.wrapper.wrapper_welcome
  .wrapper__controls-panel
    .app-logo {
      max-width: 240px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 80px;
}

.wrapper.wrapper_welcome
  .wrapper__controls-panel
    .category-selector {
      display: none;
}

.wrapper.wrapper_welcome
  .wrapper__controls-panel
    .big-paragraph {
      display: block;
      margin-left: auto;
      margin-right: auto;
}

.wrapper.wrapper_welcome
  .wrapper__controls-panel
    .randomize-button {
      max-width: 240px;
      margin-left: auto;
      margin-right: auto;
}

/*
 *
 * Category selector
 *
 */

.category-selector__title {
  margin: 0;
  padding-bottom: 8px;
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.03em;
  font-stretch: semi-condensed;
  text-transform: uppercase;
  color: #212121;
}

.category-selector__option {
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: 'Synthese', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: none;
  color: #212121;
}

.category-selector__option::before {
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 2px solid #9FA0A3;
  border-radius: 4px;
}

.category-selector__option.category-selector__option_active::before {
  border-color: #212121;
  background: #212121;
}

/*
 *
 * Big paragraph
 *
 */

.big-paragraph {
  font-family: 'Synthese', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: none;
  color: #212121;
}

/*
 *
 * Randomize button
 *
 */

.randomize-button {
  width: 100%;
  background: #212121;
  background:
    url('../assets/shuffle-button-left-bg.svg') left center no-repeat,
    url('../assets/shuffle-button-right-bg.svg') right center no-repeat,
    #212121;
  border: none;
  border-radius: 8px;
  padding: 16px 8px;
}

.randomize-button__start-text,
.randomize-button__do-it-again-text {
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 200;
  letter-spacing: 0.03em;
  font-stretch: normal;
  text-transform: uppercase;
  color: #FFFFFF;
}

.randomize-button__do-it-again-text {
  display: none;
}

.randomize-button_again
  .randomize-button__start-text {
    display: none;
}

.randomize-button_again
  .randomize-button__do-it-again-text {
    display: block;
}

/*
 *
 * Compared item
 *
 */

.compared-item {
  padding: 24px;
  border: 8px solid #212121;
  border-radius: 8px;
  position: relative;
}

.compared-item__icon {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  background: #DDDDDD;
  background-image: url('../assets/mystery-icon.svg');
  background-size: contain;
  background-position: center;
}

.compared-item__side-pointer {
  width: 32px;
  height: 32px;
  position: absolute;
  transform: translateY(50%);
  bottom: 50%;
}

.compared-item__height-pointer {
  display: none;
  width: 24px;
  height: 24px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.compared-item_left
  .compared-item__side-pointer {
    left: 100%;
    background-image: url('../assets/gauge-right-pointer.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.compared-item_left
  .compared-item__height-pointer {
    top: 100%;
    background-image: url('../assets/gauge-bottom-pointer.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.compared-item_right
  .compared-item__side-pointer {
    right: 100%;
    background-image: url('../assets/gauge-left-pointer.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.compared-item_right
  .compared-item__height-pointer {
    bottom: 100%;
    background-image: url('../assets/gauge-top-pointer.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.compared-item__icon
  img {
    opacity: 0;
    display: block;
    width: 100%;
    height: auto;
}

.compared-item__text,
.compared-item__empty-text {
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-stretch: semi-condensed;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
}

.compared-item__value,
.compared-item__empty-value {
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 52px;
  line-height: 52px;
  font-weight: 800;
  letter-spacing: 0.03em;
  font-stretch: normal;
  text-transform: uppercase;
  text-align: center;
  color: #FFBF3D;
}

.compared-item__value-per-year {
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: 0.03em;
  font-stretch: normal;
  text-transform: none;
  text-align: center;
}

.compared-item__empty-text,
.compared-item__empty-value {
  color: #BBBBBB;
}

.compared-item__empty-text,
.compared-item__empty-value {
  display: none;
}

@media screen and (max-width: 1130px) {
  .compared-item {
    padding: 16px;
    border-width: 6px;
  }

  .compared-item__value,
  .compared-item__empty-value {
    font-size: 42px;
    line-height: 42px;
  }

  .compared-item__value-per-year {
    font-size: 24px;
  }
}

@media screen and (max-width: 680px) {
  .compared-item {
    display: flex;
    padding: 8px;
  }

  .compared-item__icon {
    width: 120px;
    height: 120px;
    margin-right: 8px;
  }

  .compared-item__infos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
    padding: 8px 0;
  }

  .compared-item__side-pointer {
    display: none;
  }

  .compared-item__height-pointer {
    display: block;
  }

  .compared-item__text,
  .compared-item__empty-text,
  .compared-item__value,
  .compared-item__empty-value {
    text-align: left;
  }

  .compared-item__text,
  .compared-item__empty-text {
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    height: unset;
  }

  .compared-item__value,
  .compared-item__empty-value {
    font-size: 32px;
    line-height: 32px;
  }

  .compared-item__value-per-year {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (max-width: 400px) {
  .compared-item__icon {
    width: 80px;
    height: 80px;
  }

  .compared-item__infos {
    height: 80px;
    padding: 0;
    justify-content: space-around;
  }

  .compared-item__text,
  .compared-item__empty-text {
    font-size: 14px;
    line-height: 16px;
  }

  .compared-item__value,
  .compared-item__empty-value {
    font-size: 20px;
    line-height: 20px;
  }

  .compared-item__value-per-year {
    font-size: 20px;
    line-height: 20px;
  }
}

/* States */
.compared-item.compared-item_empty
  .compared-item__icon {
    background: #DDDDDD;
}

.compared-item.compared-item_empty
  .compared-item__text,
.compared-item.compared-item_empty
  .compared-item__value {
    display: none;
}

.compared-item.compared-item_empty
  .compared-item__empty-text {
    display: flex;
}

.compared-item.compared-item_empty
  .compared-item__empty-value {
    display: block;
}

/*
 *
 * Comparison gauge
 *
 */

.comparison-gauge {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.comparison-gauge__low-boundary,
.comparison-gauge__high-boundary {
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.03em;
  font-stretch: normal;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
}

.comparison-gauge__gauge {
  width: 100%;
  max-width: 24px;
  margin: 8px auto;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.comparison-gauge__gauge-increment {
  flex-grow: 1;
  margin-top: 1px;
  width: 100%;
}

.comparison-gauge__gauge-increment:last-child {
  margin-top: 0;
}

@media screen and (max-width: 680px) {
  .comparison-gauge {
    flex-direction: row;
  }

  .comparison-gauge__low-boundary,
  .comparison-gauge__high-boundary {
    font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 800;
    letter-spacing: 0.03em;
    font-stretch: normal;
    text-transform: uppercase;
    text-align: center;
    color: #212121;
  }

  .comparison-gauge__gauge {
    flex-direction: row;
    margin: auto 16px;
    max-width: unset;
    max-height: 24px;
    overflow: hidden;
  }

  .comparison-gauge__gauge-increment {
    margin-bottom: unset;
    margin-right: 1px;
    margin-top: 0;
    height: 100%;
  }

  .comparison-gauge__gauge-increment:last-child {
    margin-bottom: unset;
    margin-right: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .comparison-gauge__gauge-increment:nth-child(even) {
    display: none;
  } 
}

